.general_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-block: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(13, 71, 161, 0.2);
    top: 0;
    position: sticky;
    z-index: 1;
}

.small_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    padding-top: 20px;
    background-color: #fff;
    top: 0;
}

/* HeaderLogo Decorations */
.homeLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;    
}

.homeLogo:hover {
    cursor: pointer;
}

.homeLogo img {
    height: 50px;
    width: auto;
}

.homeLogo span {
    color: var(--light-blue);
}

.homeLogo h1 {
    margin: 0;
    color: var(--dark-blue);
}

.desktopNavContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header_navigator {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.toNavOptionText {
    color: var(--dark-blue);
    font-weight: 700;
    text-decoration: none;
    margin-right: 100px;
}

.toNavOptionText:hover {
    transform: scale(1.1);
}

.toProfileText {
    color: var(--dark-blue);
    font-weight: 700;
    cursor: pointer;
}

.toProfileText:hover {
    transform: scale(1.1);
}

.desktopNavContainer .header_account {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 700;
}

/* SignUp Decorations */
.signUpButton{
    margin-right: 30px;
    color: var(--dark-blue);
    cursor: pointer
}

.signUpButton:hover {
    color: var(--dark-blue);
    transform: scale(1.1);
}

/* LogIn Decorations */
.loginButton {
    display: flex;
    flex-direction: row;
    color: var(--dark-blue);
    align-items: center;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    padding-inline: 30px;
    cursor: pointer
}

.loginButton:hover {
    color: white;
    background-color: var(--dark-blue);
    transition: background-color 200ms linear;
    border: 2px solid white;
}


.loginButton:hover .loginIcon{
    stroke: white;
}


.loginButton .loginIcon {
    stroke: var(--dark-blue);
    stroke-width: 1px;
    padding-left: 5px;
}

.mobileNavContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.menuMainContainer {
    position: relative;
}

.menuIcon {
    color: var(--dark-blue);
}

.menuIcon:hover {
    cursor: pointer;
}

.menuOptionsContainer {
    display: none;
}

.menuMainContainer:hover .menuOptionsContainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 22px;
    width: 200px;
}

.menuOptionsContainer a {
    color: var(--dark-blue);
    text-decoration: none;
    padding-bottom: 20px;
    font-weight: 700;
}

.menuMainContainer a:hover {
    transform: scale(1.1);
}

.mobileNavContainer .header_account {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.mobileNavContainer .header_account .signUpButton {
    margin: 0;
}