.serviceCard_imgOnLeft {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 5px -5px gray;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--dark);
}


.serviceCard_imgOnRight {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 4px 5px -5px gray;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--dark);
}

.cardImg {
    clip-path: circle(50% at 50% 50%);
    height: 300px;
    width: auto;
    align-self: center;
    -webkit-animation: cardImg 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: cardImg 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.serviceContent_imgOnLeft {
    padding-left: 50px;
    width: 100%;    
}

.serviceContent_imgOnRight {
    width: 100%; 
    padding-right: 50px;   
}

.titleCard{
    margin-block: 0;
    font-size: 32px;
}

@-webkit-keyframes cardImg {
    0% {
        -webkit-transform: rotateX(80deg);
                transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
        opacity: 1;
    }
}
@keyframes cardImg {
    0% {
        -webkit-transform: rotateX(80deg);
                transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
        opacity: 1;
    }
}
  