.profileImagesContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.profileImagesContainer .profileMediaContainer {
    background-color: aqua;
}

.profileImagesContainer .bannerImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileImagesContainer .profileImage {
    position: absolute; 
    left: calc(50vw - 127px); /*(width+border)/2*/
    top: 50px;
    height: auto;
    border-radius: 50%;

    /* to calculate the left and right */
    width: 250px;
    border: 4px solid white;
}

.personalProfileInfo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-inline: 25px;
    margin-top: 90px;
}

.personalProfileInfo h1 {
    color: var(--dark);
    margin-top: 0;
}

.personalProfileInfo h2 {
    color: var(--dark-blue);
    margin-top: 0;
    margin-bottom: 35px;
}

.profileContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileContentContainer .companyTitle, .profileContentContainer .companyDescription {
    margin-left: 20px;
    align-self: flex-start;
}

.profileContentContainer .companyDescription {
    margin-block: 0;
}

.ServiceProfileMainContainer {
    margin-top: 25px;
}
