.ProfileContentContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.ProfileContentContainer .profileMediaContainer {
    background-color: aqua;
}

.ProfileContentContainer .bannerImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.ProfileContentContainer .profileImage {
    position: absolute; 
    left: calc(50vw - 152px);
    height: auto;
    border-radius: 50%;

    /* to calculate the left and right */
    width: 300px;
    border: 4px solid white;
}

.ProfileContentContainer .personalInfo {
    margin-inline: 25px;
    margin-top: 90px;
}

.ProfileContentContainer .personalInfo h1{
    color: var(--dark);
}

.ProfileContentContainer .personalInfo h2{
   margin-top: 40px;
}
